:root {
  --fonts: "Montserrat", "Lato", sans-seri;
  --clr-primary: hsl(12, 88%, 59%);
  --clr-secondary: hsl(0, 0%, 96%); 
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 200px;
    min-width: 250px;
    background-image: url("../assets/LuWo0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.search-inner {
    display: flex;
    justify-content: center;
    width:60%;
    position:relative;
    margin:auto;
}

input {
    font-size: 13px;
    line-height: 20px;
    display: block;
    width: 163px;
    height: 25px;
    padding: 6px 27px 6px 12px;
    cursor: pointer;
    color: rgb(102, 102, 102);
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 13px 13px 13px 13px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

[data-weather] {
    margin: 20px;
    padding: 20px;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

[data-weather]:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
      
}

.city {
    font-size: 24px;
}

.temp {
    font-size: 72px;
}